{% extends 'base.html' %}

{% block title %}Home - CivFix{% endblock %}

{% block content %}
    <div class="container">
        <button type="button" class="btn btn-warning" style="margin-top: 20px;" data-bs-toggle="modal" data-bs-target="#model">Add Ticket</button>
        <div class="modal fade" id="model">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <label for="text" class="modal-header"><h3>Name</h3></label>
                    <input type="text" class="form-control">
                    <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#model"></button>
                    </div>
                    <label for="text" class="modal-body">Problem</label>
                    <div class="container" style="text-align: center; padding-bottom: 20px;">
                        <input type="text" class="form-control" style="width: 90%;"></input>
                    </div>
                    <label for="text" class="modal-body">Category</label>
                    <div class="container" style="text-align: center; padding-bottom: 20px;">
                        <input type="text" class="form-control" style="width: 90%;"></input>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row-cols-auto">
            {% for ticket in tickets %}
            <div class="col">
                <div class="box">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                            <h2 class="card-title text-primary">Name: {{ ticket.title }}</h2>
                                <span class="cart-subtitle">Created on: {{ ticket.created_at }}</span>
                                <div class="card-text">Description: {{ ticket.description }}</div>
                                <div class="card-text">Location: {{ ticket.location }}</div>
                                <div class="card-text">Number of upvote: {{ ticket.upvotes.count }}</div>
                                <div class="card-text">Created on: {{ ticket.created_at }}</div>
                                <div class="card-text">Category:
                                </div>
                                <div class="card-text">Status: </div>
                                <div class="container" style="display: flex; margin-top: 2px;">
                                    <button type="button" class="btn btn-success" style="margin-left: -10px; margin-right: 10px;">👍</button>
                                    <h4 style="margin-top: 5px;">0</h4>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{#    <form method="post">#}
{#      {% csrf_token %}#}
{#      {{ form.as_p }}#}
{#      <button type="submit">Submit</button>#}
{#    </form>#}
{% endblock %}
