<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CivFix</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a href="home" class="navbar-brand"><h2>CivFix</h2></a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="home" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="leaderboard" class="nav-link ">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="profile" class="nav-link ">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <button type="button" class="btn btn-warning" style="margin-top: 20px;" data-bs-toggle="modal" data-bs-target="#model">Add Ticket</button>
        <div class="modal fade" id="model">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <label for="text" class="modal-header"><h3>Name</h3></label>
                    <input type="text" class="form-control">
                    <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#model"></button>
                    </div>
                    <label for="text" class="modal-body">Problem</label>
                    <div class="container" style="text-align: center; padding-bottom: 20px;">
                        <input type="text" class="form-control" style="width: 90%;"></input>
                    </div>
                    <label for="text" class="modal-body">Category</label>
                    <div class="container" style="text-align: center; padding-bottom: 20px;">
                        <input type="text" class="form-control" style="width: 90%;"></input>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row-cols-auto">
            <div class="col">
                <div class="box">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                            <h2 class="card-title text-primary">Name: </h2>
                                <span class="cart-subtitle">Date: </span>
                                <div class="card-text">Problem: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit officia voluptatum voluptas eius perferendis quaerat accusamus ducimus assumenda sed? Illo?</div>
                                <div class="card-text">Category:
                                </div>
                                <div class="card-text">Status: </div>
                                <div class="container" style="display: flex; margin-top: 2px;">
                                    <button type="button" class="btn btn-success" style="margin-left: -10px; margin-right: 10px;">👍</button>
                                    <h4 style="margin-top: 5px;">0</h4>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                            <h2 class="card-title text-primary">Name: </h2>
                                <span class="cart-subtitle">Date: </span>
                                <div class="card-text">Problem: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit officia voluptatum voluptas eius perferendis quaerat accusamus ducimus assumenda sed? Illo?</div>
                                <div class="card-text">Category:
                                </div>
                                <div class="card-text">Status: </div>
                                <div class="container" style="display: flex; margin-top: 2px;">
                                    <button type="button" class="btn btn-success" style="margin-left: -10px; margin-right: 10px;">👍</button>
                                    <h4 style="margin-top: 5px;">0</h4>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                            <h2 class="card-title text-primary">Name: </h2>
                                <span class="cart-subtitle">Date: </span>
                                <div class="card-text">Problem: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit officia voluptatum voluptas eius perferendis quaerat accusamus ducimus assumenda sed? Illo?</div>
                                <div class="card-text">Category:
                                </div>
                                <div class="card-text">Status: </div>
                                <div class="container" style="display: flex; margin-top: 2px;">
                                    <button type="button" class="btn btn-success" style="margin-left: -10px; margin-right: 10px;">👍</button>
                                    <h4 style="margin-top: 5px;">0</h4>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                            <h2 class="card-title text-primary">Name: </h2>
                                <span class="cart-subtitle">Date: </span>
                                <div class="card-text">Problem: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit officia voluptatum voluptas eius perferendis quaerat accusamus ducimus assumenda sed? Illo?</div>
                                <div class="card-text">Category:
                                </div>
                                <div class="card-text">Status: </div>
                                <div class="container" style="display: flex; margin-top: 2px;">
                                    <button type="button" class="btn btn-success" style="margin-left: -10px; margin-right: 10px;">👍</button>
                                    <h4 style="margin-top: 5px;">0</h4>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

{% for ticket in tickets %}
  <h2>{{ ticket.title }}</h2>
  <p>{{ ticket.description }}</p>
  <p> Location: {{ ticket.location }} </p>
  <p>Created on: {{ ticket.created_at }}</p>
  <p>Number of upvote: {{ ticket.upvotes.count }}</p>
{% endfor %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
</form>
